<div id="bg"></div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="sidebar">
        <h3>Hello</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Similique expedita et vero eligendi illo, non corrupti eum architecto sint repellendus?</p>
      </div>
    </div>

    <div class="col-md-8">
      <div id="content">
        <a href="/register"><button class="btn btn-success btn-lg"><i class="fas fa-user"></i> Get started!</button></a>
      </div>
    </div>
  </div>
</div>

<script src="/javascripts/index.js"></script>